body {
    background-color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-between;
   
}
ul{
    display: flex;
    justify-content: space-between;
    gap:10px;
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color:rebeccapurple ;
}